body {
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

header {
    
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-family:monospace;
}

.overlay {
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    
    
}
.logincontainer {
    background-color: rgba(128, 128, 128, 0.356);
    position: absolute;
    top: 30%;
    width: fit-content;
    height: fit-content;
    padding: 40px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(15, 15, 15);
}

#loginform {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

button {
    width: 100px;
    background-color: rgb(16, 70, 133);
    border: none;
    font-size: 17px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0px;
}

button:hover {
    background-color: rgb(12, 52, 97);
}

input {
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 0px 5px;
    color: white;
}

.error {
    margin-top: 10px;
    margin-bottom: -23px;
    color: red;
    text-align: center;
    opacity: 0;
}

.container {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    transition: all 1s;

    display: none;
}

.formcontainer {
    background-color: rgba(128, 128, 128, 0.356);
    position: absolute;
    top: 10%;
    width: 80vw;
    height: fit-content;
    padding: 40px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

#form {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


#submit {
    font-size: 14px;

}

svg {
    width: 30px;
    filter: invert();
}

.content {
    display: none;

}

.content > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.301);
    color: white
}

option {
    color:black;
}